* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.body { 

}

.container { 
width: 800px;
margin: 0;
}

.text {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 10px solid red;
}

.title { 

}

.link { 
    
}